<div class="bg-light dark:bg-darkmode-light rounded p-8">
  {{ $image:= .Params.image }}
  {{ if $image }}
    {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mx-auto mb-6 rounded" "size" "120x120") }}
  {{ else if .Params.Email }}
    <img
      class="mx-auto mb-6 rounded"
      alt="{{ .Title }}"
      height="120"
      width="120"
      src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon" />
  {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h4>
  <p class="mb-4">
    {{ .Summary }}
  </p>
</div>
<script type="application/ld+json">
  {
    "@context":"https://schema.org",
    "@type":"ItemList",
    "itemListElement":[
      {
        "@type":"ListItem",
        "position":1,
        "url":"https://rgn.biz.id/layanan/home-1/"
      },
      {
        "@type":"ListItem",
        "position":2,
        "url":"https://rgn.biz.id/layanan/home-2/"
      },
      {
        "@type":"ListItem",
        "position":3,
        "url":"https://rgn.biz.id/layanan/home-3/"
      }
    ]
  }
  </script>