<div class="bg-light dark:bg-darkmode-light rounded p-8">
  {{ $image:= .Params.image }}
  {{ if $image }}
    {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mx-auto mb-6 rounded" "size" "120x120") }}
  {{ else if .Params.Email }}
    <img
      class="mx-auto mb-6 rounded"
      alt="{{ .Title }}"
      height="120"
      width="120"
      src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon" />
  {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h4>
  <p class="mb-4">
    {{ .Summary }}
  </p>
</div>
<div>
  <div itemtype="https://schema.org/Product" itemscope>
    <meta itemprop="name" content="{{ .Title }}" />
    <meta itemprop="description" content="{{ .Summary }}" />
    <div itemprop="aggregateRating" itemtype="https://schema.org/AggregateRating" itemscope>
      <meta itemprop="reviewCount" content="89" />
      <meta itemprop="ratingValue" content="5" />
    </div>
    <div itemprop="review" itemtype="https://schema.org/Review" itemscope>
      <div itemprop="author" itemtype="https://schema.org/Person" itemscope>
        <meta itemprop="name" content="Fred Benson" />
      </div>
      <div itemprop="reviewRating" itemtype="https://schema.org/Rating" itemscope>
        <meta itemprop="ratingValue" content="4" />
        <meta itemprop="bestRating" content="5" />
      </div>
    </div>
  </div>
</div>