{{ define "main" }}
<div class="breadcrumb">
    <a href="/"><i class="fas fa-home" aria-hidden="true"></i> Beranda</a> &raquo; 
    <a href="/blog">Blog</a> &raquo; 
    <span>{{ .Title }}</span>
</div>

<article class="post">
    <div class="post-header">
        <h1>{{ .Title }}</h1>
        <div class="post-meta">
            <span><i class="far fa-user" aria-hidden="true"></i> {{ .Params.author }}</span>
            <span><i class="far fa-calendar-alt" aria-hidden="true"></i> {{ .Date.Format "2 January 2006" }}</span>
            <span><i class="far fa-clock" aria-hidden="true"></i> {{ .ReadingTime }} menit membaca</span>
        </div>
    </div>
    
    <div class="post-content">
        {{ .Content }}
    </div>
</article>
{{ end }}